.info__header{
    margin: 40px 0;

    .info__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        .info__title{
            font-size: 30px;
            font-weight: bold;
        }
    }
    .info__header_line{
        color: #00000040;
    }
}
