.back{

    .back__link{
        display: flex;
        align-items: center;

        img{
            margin-right: 30px;
        }
        .back-text{
            font-size: 20;
            font-weight: bold;
        }
    }
}
