.btn_black{
    cursor: pointer;
    border-radius: 100px;
    border: none;
    background-color: #1b1b1b;
    padding: 20px 36px;
    color: #fff;
    font-size: 16px;
    transition: all .5s;

    &.white{
        background-color: #00000000;
        color: #000;
        border: #000 1px solid;
        margin-left: 80px;

        &:hover{
            color: #fff;
        }
    }

    &:hover{
        background-color: #000;
    }

}