.btn_black {
  cursor: pointer;
  border-radius: 100px;
  border: none;
  background-color: #1b1b1b;
  padding: 20px 36px;
  color: #fff;
  font-size: 16px;
  transition: all 0.5s;
}
.btn_black.white {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  border: #000 1px solid;
  margin-left: 80px;
}
.btn_black.white:hover {
  color: #fff;
}
.btn_black:hover {
  background-color: #000;
}