.card__social{
    max-width: 90px;
    .card__left_text{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .card__social_list{
        display: flex;
        justify-content: space-between;

        .card__social_item{
            .social_item-link{
                .social_item-img{
    
                }
            }
        }
    }
}