.info-social {
  margin-bottom: 113px;
}
.info-social .info-social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-social .info-social__list .info-social__item .info-social__elem {
  border-radius: 30px;
  border: #3e3e3e 1px solid;
  background-color: rgba(62, 62, 62, 0);
  padding: 10px 7px;
  display: flex;
}
.info-social .info-social__list .info-social__item .info-social__elem .info-social__img {
  margin-right: 10px;
}
.info-social .info-social__list .info-social__item .info-social__elem .info-social__text {
  font-size: 12px;
}