.pop-up__window {
  position: absolute;
  padding: 40px;
  width: 1180px;
  max-height: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 10px;
  box-shadow: 1px 1px 50px 12px rgba(43, 43, 43, 0.4);
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.pop-up__window .pop-up__window-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.pop-up__window .pop-up__window-list .pop-up__title {
  font-size: 35px;
  margin: 0;
}
.pop-up__window .pop-up__scrollbe-container {
  height: 570px;
  overflow-y: scroll;
}
.pop-up__window .pop-up__scrollbe-container::-webkit-scrollbar {
  width: 1px;
}
.pop-up__window .pop-up__scrollbe-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
}